@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.container{
    /* background-image:url(/Project/Assets/sattlite.jpg); */
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* NAVIGATION BAR CSS */
header{
    width: 100%;
    position: absolute;
    /* background-color: rgb(158, 246, 246);  */
    height: 80px;
    /* box-shadow: 0 0 5px 0 white;  */
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    z-index: 100;
}

.Logo{
    max-width: 500px;
    height: 80px;
    float: left;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.5s;
}

nav ul{
    float: right;
    overflow: auto;
    margin-right: 5px;
    left: 100%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80px;
   
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size: 16px;
    margin-right: 40px;
    transition: all 0.5s;
}

nav ul li a.active, nav ul li a:hover{
    border-bottom: 2px solid rgb(247, 190, 85);
    padding-bottom: 5px;
    border-radius: 80%;
    transition: 0.3s;
}

.checkbtn{
    font-size: 15px;
    color: white;
    line-height: 80px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}

#check{
    display: none;
}

/* *** Background video css*** */
.container .videoContainer{
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -10;
}

.container .videoContainer video{
    width: 100%;
    height: 100vh;
    z-index: -5;
    object-fit: cover;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.banner h1{
    font-size: 32px;
    color: #fbf8f8;
    transition: all 0.5s;
}

.banner h4{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #b4ebe8;
    text-align: center;
}


.videoContainer .colorOverlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.258);
    position: absolute;
    top: 0;
    left: 0;
}

.banner{
    position: absolute;
    z-index: 1;
}
.banner .welcometxt{
    display: flex;
    font-size: 50px;
    /* font-weight:500;    */
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    
}
.banner .welcometxt .typing-text{
    color: #1de2d1;
    margin-right:10px;
    text-shadow: 0 0 5px #b4ebe8, 0 0 10px rgb(115, 158, 175), 0 0 15px rgb(150, 195, 212);
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #1de2d1;
    animation: typing 5s steps(11) infinite;
    
}
@keyframes typing {
    0%{
        width: 0ch;
    }
    50%{
        width: 10ch;
    }
    100%{
        width: 0ch;
    }
}
.banner {
    color: #fbf8f8;
    text-shadow: 0 0 10px #ffffff;
    box-shadow: 0px 0px 50px 0px rgb(25, 21, 21);
    text-align: center;
}

.banner button {
    display: none;
}

 
/* *****Location form CSS*****/
.LocForm{
    width: 42%;
    min-width: 35%;
    height: 71vh; 
    /* min-height: 60vh; */
    clear: both;
    padding: 10px;
    margin: 30px auto;
    margin-left: 20px;
    float: left;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
    border-radius: 5px;
    transition: 0.5s;
}

  .LocForm .Location{
    margin: 10px auto;
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight:500;
    background-color: rgb(54, 54, 236);
    transition: all .5s;
}

.LocForm .Location:hover{
 background-color: white;
 color: blue;
 letter-spacing: 2px;
 border: 1px solid blue;
}

#formfield{
    height: 40vh;
    min-height: 20vh;
    overflow-y: scroll; 
}

.LocForm h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;    
    letter-spacing: 2px;
    color: rgb(34, 91, 91);
    padding-bottom: 10px;
}

.LocForm input[type="text"]{
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 300px;
    border: none;
    background-color: rgba(128, 128, 128, 0.133);
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LocForm button[type="text"]:focus{
   outline: none;
}

.LocForm button[type="submit"]{
    margin: 10px auto;
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight:500;
    letter-spacing: 1px;
    background-color: rgb(54, 54, 236);
    transition: all 0.5s;
}

.LocForm button[type="submit"]:hover{
    background-color: rgba(156, 219, 244, 0.556);
    color:  rgb(54, 54, 236);
    /* font-weight: bold; */
    letter-spacing: 5px;
}

.LocForm .add{
    margin: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: rgb(54, 54, 236);
    border: 1px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight:500;
    transition:  all .5s;
}

.LocForm .remove{
    float: right;
    margin: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: rgb(54, 54, 236);
    border: 1px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight:500;
    transition: all .5s;
}

.LocForm .add:hover, .LocForm .remove:hover{
    color: white;
    background-color: rgb(54, 54, 236);
    border: 1px solid;
    transition: .5s;
}

/*****************Map css******/
#map {
    top: 30px;
    margin-right: 20px;
    height: 71vh;
    min-height: 60vh;
    width: 53%;
    min-width: 30%;
    float: right;
    box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
    border-radius: 5px;
}


/* This is the footer section */
 #FooterSection{
    position: absolute;
    top: 190vh;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;
    margin: 0 auto;
    height: 10%;
    z-index: 0;
    border-top:1px solid rgba(0, 0, 0, 0.082);
    background-color: #9cebf9;
}

.social{
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
}
.social p{
    display: inline;
    color: white;
}

.social ul li{
    list-style: none;
    display: inline-block;
}

.social ul li a i{
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 5px;
}

.social ul li a i:hover{
    color:#A1E887;
}

.bottomBar{
    text-align: center;
}
.bottomBar a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s ease-in-out;
}

.bottomBar a:hover{
    letter-spacing: 5px;
}
.bottomBar p {
    font-size: 14px;
    color: white;
   
}
/* Search box in map */
#SearchLocation
{
    z-index: 1;
}

/* Setting properties for window width 990px*/
@media(max-width: 990px){
    nav ul{
        margin-right: 5px;
    }

    nav ul li a {
        margin-right: 20px;
        font-size: 16px;
        transition: all 0.5s;
    }

    .Logo{
        max-width: 295px;
        height: 79px;
        float: left;
        display: block;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    /* Location form CSS*/
    .parent{
        display: block;
        margin: 20px auto; 
    }

    .LocForm{
        width: 350px;
        /* padding: 10px;*/
        float: left;
        box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
        border-radius: 5px;
        transition: 0.5s;
    }
    #formfield{
        height: 38vh;
        min-height: 20vh;
    }

    #map {
        top: 30px;
        margin-right: 20px;
        height: 71vh;
        min-height: 60vh;
        width: 53%;
        min-width: 30%;
        float: right;
        box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
        border-radius: 5px;
    }

    .LocForm .add, .LocForm .remove
    {
        position: relative;
        bottom: 8px;
    }
    
}

@media(max-width: 840px){
nav ul li a {
        margin-right: 0px;
        font-size: 14px;
        transition: all 0.5s;
    }

    /* Location form CSS*/
    .parent{
        display: flex;
        margin: 30px auto;
    }

    .LocForm{
        width: 90%;
        /* padding: 10px;*/
        margin: 20px auto;
        display: block;
        box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
        border-radius: 25px;
        transition: 0.5s;
    }

    #formfield
    {
        height: 42vh;
        min-height: 30vh;
    }

    .LocForm .add, .LocForm .remove
    {
        position: relative;
        bottom: 15px;
    }

    .container #map {
        float: none;
        position: relative;
        display: block;
        top: 50px;
        bottom: 20px;
        margin: 0px auto;
        height: 40vh;
        width: 90%;
        min-width: 70%;
    }
    #FooterSection{
        position: relative;
        left: 0;
        right: 0;
        top: 20vh;
        width: 100%;
        margin: 0px auto;
        height: 10%;
        z-index: 0;
        border-top:1px solid rgba(0, 0, 0, 0.082);
    }

    .moving-text li{
        list-style: none;
        font-size: 50px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 500;
        position: relative;
        top: 0;
        /* animation: move 100s steps(0) infinite; */
    }
}

@media(max-width: 695px){
    .Logo{
        align-items: center;
        align-content: center;
        margin: 0;
        display: inline-block;
        justify-content: center;
        position: absolute;
    }
    .checkbtn{
        display: block;
        margin-right: 20px;
        line-height: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 30px;
        transition: .5s;
    }
    nav ul{
        position: fixed;
        border: 1px solid rgba(255, 255, 255, 0.212);
        border: 0.5px solid grey;
        border-radius: 20px;
        margin-left: 45%;
        width: 50%;
        align-items: center;
        left: 100%;
        background-color:rgba(0, 0, 0, 0.252); 
        backdrop-filter: blur(10px);
        top: 85px;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }
    nav ul li{
        display: block;
        line-height: 75px;
        
    }
    nav ul li a {
        font-size: 15px;
        font-weight: 500;
    }

    #check:checked ~ul{
        left: 0;
    }
    #check:checked~.checkbtn{
        transform: rotate(-225deg);
    }
    
    .banner .welcometxt{
        font-size: 50px;
        /* font-weight:500;    */
        color: #ffffff;
        text-shadow: 0 0 10px #ffffff;
        display: block;
    }
    /* Location form CSS*/
    .parent{
        display: flex;
        margin: 20px auto;
    }

    .LocForm{
        width: 80%;
        /* padding: 10px;*/
        margin: 20px auto;
        display: block;
        box-shadow: 0px 0px 10px 0px rgb(25, 21, 21);
        backdrop-filter: blur(50px);
        border-radius: 5px;
        transition: 0.5s;
    }
    #formfield
    {
        height: 38vh;
        min-height: 30vh;
    }
    .LocForm .Location{
        margin: 10px auto;
        display: block;
        width: 250px;
        
    }

    .LocForm h1{
        font-size: 20px;
        font-weight: bold;
    }

    .LocForm input[type="text"]{
        width: 250px;
        font-family: "Poppins", sans-serif;    
    }
    
    .LocForm button[type="submit"]{
        width: 250px;
    }

    .LocForm .add, .LocForm .remove{
        margin-top: 40px;
        font-size: 14px;
    }

    .container #map {
       float: none;
        position: relative;
        display: block;
        top: 50px;
        bottom: 20px;
        margin: 0px auto;
        height: 40vh;
        width: 80%;
        min-width: 70%;
    }
    
}




/* @media(max-width: 500px){
    .LocForm{
        display: block;
        margin: 20px auto;
        justify-content: center;
    }
} */