@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.container{
    background-image: url(Blue\ Page.png);
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

header{
    /* background-color: aqua; */
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);

}

.Logo{
    max-width: 300px;
    height: 80px;
    float: left;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul{
    float: right;
    overflow: auto;
    margin-right: 20px;
    left: 100%;
    
}

nav ul li {
    list-style: none;
    display: inline-block;
    
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size: 16px;
}

/* li:hover{
    scale: 10px;

} */

a.active, a:hover{
    border-bottom: 2px solid rgb(255, 166, 0);
    padding-bottom: 5px;
    border-radius: 80%;
    transition: 0.3s;
}

.checkbtn{
    font-size: 15px;
    color: white;
    line-height: 80px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 990px){
    nav ul li a {
        font-size: 14px;
    }
    .Logo{
        max-width: 295px;
        height: 79px;
        float: left;
        display: block;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

@media(max-width: 671px){
    .checkbtn{
        display: block;
        padding-right: 20px;
        font-size: 25px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color: transparent;
        top: 90px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ul{
        left: 0;

    }

}
