@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.container{
    background-image:url(BluePage.png);
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

header{
    /* background-color: aqua; */
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);

}

.Logo{
    max-width: 300px;
    height: 80px;
    float: left;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul{
    float: right;
    overflow: auto;
    margin-right: 20px;
    left: 100%;   
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size: 16px;
}

/* li:hover{
    scale: 10px;

} */

a.active, a:hover{
    border-bottom: 2px solid rgb(255, 166, 0);
    padding-bottom: 5px;
    border-radius: 80%;
    transition: 0.3s;
}

.checkbtn{
    font-size: 15px;
    color: white;
    line-height: 80px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
#globe {
    position: fixed;
    top: 20vh;
    display:flex;
    
    /* z-index: 0; */
}

@media(max-width: 990px){
    nav ul li a {
        font-size: 14px;
    }
    .Logo{
        max-width: 295px;
        height: 79px;
        float: left;
        display: block;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

@media(max-width: 671px){
    .checkbtn{
        display: block;
        margin-right: 20px;
        line-height: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 30px;
        transition: .5s;
    }
    ul{
        position: fixed;
        border: 1px solid rgba(255, 255, 255, 0.212);
        border-radius: 20px;
        margin-left: 45%;
        width: 50%;
        align-items: center;
        left: -100%;
        background-color:rgba(255, 255, 255, 0.122); 
        backdrop-filter: blur(10px);
        top: 85px;
        text-align: center;
        transition: all .5s;
        z-index: 5;
    }
    nav ul li{
        display: block;
        line-height: 75px;
        
    }
    nav ul li a {
        font-size: 15px;
    }

    #globe {
        position: fixed;
        top:80px;
        display:none;
        left: 0px;
    }
    
    #check:checked ~ul{
        left: 0;
    }
    #check:checked~.checkbtn{
        transform: rotate(-225deg);
    }

}
